# 19B-080-SE, Abdul Wassay
# Section B

# Practice 2.1

In [5]:
#2.1(a)
a=[1,2,3,4,5]
print(sum(a))
#2.1(b)
s=23
m=19
f=31
print('Sara (age',s,')','Mark(age',m,')','Fatima(age',f,')')
#2.1(d)
a=403%73
print(a)
#(e)
b=2**10
print(b)
#(f)
sh=54
mh=57
c=abs(sh-mh)
print(c)
#g
d=[34.99,29.95,31.50]
e=min(d)
print(e)

15
Sara (age 23 ) Mark(age 19 ) Fatima(age 31 )
38
1024
3
29.95

# 2.2

In [13]:
#(a)
a=2+2<4
print(a)
#(b)
b=7//3==1+1
print(b)
#(c)
c=3**2+4**2==25
print(c)
#(e)
d=1387%19==0
print(d)
#(d)
e=2+4+8>12
print(e)
#(f)
f=31%2==0
print(f)
#(g)
x=34.99,29.95,31.50
y=min(x)<30
print(y)

False
True
True
True
True
False
True

# 2.3

In [15]:
#(a)
a=3
#(b)
b=4
#(c)
c=a*a+b*b
print(c)

25

# 2.4

In [22]:
s1,s2,s3='ant ','bat ','cod '
#(a)
a=s1 + s2 + s3
print(a)
#(b)
b=s1*10
print(b)
#(c)
c=s1+s2*2+s3*3
print(c)
#(d)
d=(s1+s2)*7
print(d)
#(e)
e=(s2+s2+s3)*5
print(e)

ant bat cod
ant ant ant ant ant ant ant ant ant ant
ant bat bat cod cod cod
ant bat ant bat ant bat ant bat ant bat ant bat ant bat
bat bat cod bat bat cod bat bat cod bat bat cod bat bat cod

# 2.5

In [24]:
s='0123456789'
#(a)
a=s[0]
print(a)
#(b)
b=s[1]
print(b)
#(c)
c=s[6]
print(c)
#(d)
d=s[8]
print(d)
#(e)
e=s[9]
print(e)

0
1
6
8
9

# 2.6

In [29]:
words=['bat','ball','barn','basket','batminton']
a=words[0]
b=words[4]
print(a,b)
c=words.append('word')
print(words)
d=words.sort()
print(words)

bat batminton
['bat', 'ball', 'barn', 'basket', 'batminton', 'word']
['ball', 'barn', 'basket', 'bat', 'batminton', 'word']

# 2.7

In [33]:
grades=[9,7,7,10,3,9,6,6,2]
#(a)
a=grades.index(7)
print(a)
#(b)
b=grades.append(4)
print(grades)
#(c)
c=max(grades)
print(c)
#(d)
d=grades.sort()
print(grades)
#(e)
e=sum(grades)/len(grades)
print(e)

1
[9, 7, 7, 10, 3, 9, 6, 6, 2, 4]
10
[2, 3, 4, 6, 6, 7, 7, 9, 9, 10]
6.3

# 2.8

In [40]:
#(a)
a=((2+3)==4)or  (a>=5)
print(a)

False

In [39]:
#(b)
b=(((lst[1])*(-3))<(-10))==0
print(b)

NameError: name 'lst' is not defined

In [38]:
#(c)
c=((lst[1])*(-3)<(-10))in (0,True)
print(c)

NameError: name 'lst' is not defined

In [41]:
#(d)
d=2*(3**2)
print(d)

18

In [42]:
#(e)
e=(4/2) in [1,2,3]
print(e)

True

# 2.9

In [52]:
#(a)
a=False+False
b=type(a)
print(b)
#(b)
c=2*3**2.0
d=type(c)
print(d)
#(c)
e=(4//2)+(4%2)
f=type(e)
print(f)
#(d)
x=(2+3)==4 or 5>=5
y=type(x)
print(y)

<class 'int'>
<class 'float'>
<class 'int'>
<class 'bool'>

# 2.10

In [9]:
#(a)
#using pythagoraus theorem
from math import sqrt
c=sqrt((a**2)+(b**2))

In [ ]:
#(b)
c==5

In [11]:
#(c)
pi=3.142
area=pi*(a**2)

In [ ]:
#(d)
(x-a)**2 + (y-b)**2 < r**2